* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin: 30px;
}

h1 {
    margin-bottom: 20px;

}

input,
button {
    margin-bottom: 20px;
}

li {
    margin-top: 20px;
}

span {
    margin-left: 20px;
    cursor: pointer;
}

.fa-trash-alt {
    color: red;
}

.fa-check {
    color: green;
}

.true {
    text-decoration: line-through;
}